// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Mouse+Memoirs);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);


// Font Variables
$header: 'Mouse Memoirs', sans-serif;
$list-font: 'Roboto Slab', serif;

// Color Variables
$red: #BE1A23;
$yellow: #FDDC7B;
$green: #03A64D;

ul {
  color: $green;
  font-family: $list-font, sans-serif;
  width: 50%;
  margin: auto;
}

h1 {
  color: $red;
  font-size: 50px;
  font-family: $header, sans-serif;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: $yellow;
  border-radius: 5%;
  width: 40%;
}

button {
  margin: 5px;
}

form {
  width: 50%;
  margin: auto;
  margin-top: 15px;
}
